<div class="container">
    <section class="row">
      <div class="col-md-6 gigya-component">
        <gigya-login></gigya-login>
      </div>

      <div class="col-md-6">
        <h1>Login to Excite</h1>
        <form (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
          <div class="form-group">
            <label for="nameOrEmail">Username</label>
            <input type="text" class="form-control"
                   [(ngModel)]="model.nameOrEmail"
                   id="nameOrEmail" name="nameOrEmail"
                   #name="ngModel"
                   placeholder="username or email"
                   required>
            <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">Name is required</div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   [(ngModel)]="model.password"
                   id="password" name="password"
                   placeholder="password"
                   class="form-control" >
          </div>

          <button type="submit" class="btn btn-success"
                  [disabled]="!loginForm.form.valid"
          >Login</button>

        </form>
      </div>
    </section>
</div>
