/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: block;
  min-height: 50px;
  margin: 0 0 20px 0;
  background: grey;
  padding: 15px;
}

header .logo {
  background: darkgray;
  width: 150px;
  height: 55px;
}

#appijuice-main {
  min-height: 700px;
}

.gigya-component {
  margin-bottom: 50px;
}

footer {
  background: grey;
  position: relative;
  bottom: 0;
  min-height: 150px;
  margin: 50px 0 0 0;
  padding: 15px;
}

footer:before {
  content: ' ';
  display: block;
  clear: both;
}



