h1.page-title {
  color: #5d5d8a;
  font-size: 1.5rem;
}

#dashboard-social {
  margin-top: 15px;
  margin-bottom: 35px;
}

#user-profile {
  font-size: 0.8rem;
}

#user-profile img {
  display: block;
  width: 100%;
}

#user-profile .name {
  font-weight: bold;
}

#user-profile span {
  display: block;
}

#user-dashboard .data {
  background: grey;
  color: #fff;
  height: 150px;
  border: 1px solid black;
  margin: 3px 0 3px 0;
}

.social-connections {
  margin-top: 15px;

}

.social-connections h5 {
  padding: 5px;
  margin: 0;
  background: #5d5d8a;
  color: #fff;
  font-size: 0.8rem;
}

.friendly-container {
  border: 1px solid #5d5d8a;
  max-height: 15px;
  max-height: 400px;
  overflow-y: scroll;
}

.friendly-item:first-child {
  margin-top: 15px;
}

.friendly-item {
  margin: 0 3px 0 3px;
  padding-bottom: 15px;
  vertical-align: top;
}

.friendly-item img {
  display:inline-block;
  width: 40px;
  border: grey 1px solid;
  border-radius: 50%;
  padding: 0;
  margin-right: 3px;
}

.friendly-item .name {
  display:inline-block;
  font-size: 0.9rem;
}
